.lancamentos-red {
    height: 70px;
    width: 100%;
    background: rgba(181, 44, 35, 0.05);
    border-radius: 11;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lancamentos-red .primary-color,
.lancamentos-red .second-color {
    color: #B52C23;
}

.primary-color {
    font-style: 500;
    font-size: 20px;
}

.lancamentos .second-color {
    font-weight: 400;
    font-size: 18px;
}

#canto-direito {
    margin-right: 16px;
}

#canto-esquerdo {
    margin-left: 16px;
}