@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    /* background-color: black; */
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.divisoria {
    margin: 16px;
    height: 90vh;
    width: 2px;
    background-color: #FFFFFF0D;

}

.welcome h2 {
    color: #2A80FA;
    font-size: 22px;
}

.welcome p {
    color: #737373;
}

.content-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}

.content-one button {
    max-height: 50px;
    border-radius: 8px;
    border: none;
    color: #2A80FA;
    background: rgba(42, 128, 250, 0.1);
    cursor: pointer;
    padding: 12px 20px;
    font-size: 18px;
}

.content-one button:hover {
    background-color: #2A80FA;
    color: #FFF;
}

.main {
    width: 68%;
    padding: 8px;
}

.chart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}

.bar {
    width: 20%;
    background-color: #1E4620;
    margin-right: 10px;
}

.bar:last-child {
    margin-right: 0;
}

.bar::before {
    content: attr(data-label);
    display: block;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 5px;
}